<!doctype html>
<html>
  <head>
    <title>GoingOn</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function() 
    {
    	//render the page differently according to localStorage
    	if (localStorage['current_user'] === undefined || localStorage['current_user']=="") 
    	{
			//Already Logged in
			$("#wrapper_2").hide();
			$("#wrapper_1").show();
		}
		else
		{
			//Not Logged in
			$("#wrapper_1").hide();
			$("#wrapper_2").show();
		}

    	$(document).ajaxError(function() 
    	{
    		alert("Sorry, there was a ajax problem!");
  		});

  		$("#logout").click(function()
  		{

  			$("#wrapper_2").hide();
			$("#wrapper_1").show();
			localStorage['current_user'] = "";

  		});

  		$("#individualSignIn").click(function()
  		{

  			console.log("clicked!\n");


  			$.ajax(
  			{
  				url: "users/",
      			type: "POST",
      			dataType : "text",
      			data : { name: $("#nameBox_individual").val(),
			             password: $("#passwordBox").val()
			           },
			    success: function( data ) 
			    {

			    	if(data.name)
			    	{
			    		
			    		$("#name").html(data.name);
			    		$("#email").html(data.email);
			    		$("#gender").html(data.gender);

			    		localStorage['current_user'] = data.name;
			    		// localStorage['user_email'] = data.email;
			    		// localStorage['user_gender'] = data.gender;

			    		$("#wrapper_2").show();
			    		$("#wrapper_1").hide();
			    	}
			    	else
			    	{
			    		$("#hiddenMessage_individual").html("Incorrect Password or username");

			    	}
			    },
  			});
  		});
    });
    </script>

  </head>
  <body>
    <h1>Welcome!</h1>
    <div id="wrapper_1">

    <a href="#individual" class="SignIn">Sign in as an individual user</a>

    <div id="individual" class="lightbox" id="individual">
    		<p>User Name: </p><input class="nameBox" id="nameBox_individual" type="text" size="20"/>
    		<p>Password: </p><input class="passwordBox" type="password" size="20"/>
    		<p></p>
    		<a href="#_" id="individualSignIn">Sign In</a>
    		<p></p>
    		<a href="#_">Cancel</a>
    		<p id="hiddenMessage_individual"></p>
    </div>

    <p></p>
    

    <a href="#organization" class="SignIn">Sign in as an organization</a>
    <div id="organization" class="lightbox" id="individual">
    		<p>Organization Name: </p><input id="nameBox" type="text" size="20"/>
    		<p>Password: </p><input class="passwordBox" type="password" size="20"/>
    		<p></p>
    		<a href="#_">Sign In</a>
    		<p></p>
    		<a href="#_">Cancel</a>

    	</div>
    	
    <p></p>

    <a href="#signup" class="SignUp">Sign up</a>
    <div id="signup" class="lightbox" id="individual">
    		<p>Email: </p><input id="emailBox" type="email" size="20"/>
    		<p>User Name: </p><input id="nameBox" type="text" size="20"/>
    		<p>Password: </p><input class="passwordBox" type="password" size="20"/>
    		<p>Type</p><input id="typeBox" type="text" size="20"/>
    		<p></p>
    		<a href="#_">Sign Up</a>
    		<p></p>
    		<a href="#_">Cancel</a>
    	</div>

    </div>

    <div id="wrapper_2">
    	<p id="username"></p>
    	<p id="gender"></p>
    	<p id="email"></p>
    	<a href="#" id="logout">Log Out</a>
    </div>

    
  </body>
</html>