<!doctype html>
<html>
  <head>
    <title>GoingOn</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1>Welcome!</h1>

    <a href="#individual">Sign in as an individual user</a>

    <div id="individual" class="lightbox" id="individual">
    		<p>User Name: </p><input id="nameBox" type="text" size="20"/>
    		<p>Password: </p><input id="passwordBox" type="text" size="20"/>
    		<p></p>
    		<a href="#_">Sign In</a>
    </div>
    

    <a href="#organization">Sign in as an organization</a>
    <div id="organization" class="lightbox" id="individual">
    		<p>Organization Name: </p><input id="nameBox" type="text" size="20"/>
    		<p>Password: </p><input id="passwordBox" type="text" size="20"/>
    		<p></p>
    		<a href="#_">Sign In</a>
    	</div>
    <a href="#signup">Sign up</a>
    <div id="signup" class="lightbox" id="individual">
    		<p>Email: </p><input id="emailBox" type="text" size="20"/>
    		<p>User Name: </p><input id="nameBox" type="text" size="20"/>
    		<p>Password: </p><input id="passwordBox" type="text" size="20"/>
    		<p>Type</p><input id="typeBox" type="text" size="20"/>
    		<p></p>
    		<a href="#_">Sign Up</a>
    	</div>

  </body>
</html>