<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Home | Going On</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <link href="/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- StyleSheets -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/flat-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/side-menu.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!-- JavaScript -->
    <script type="text/javascript" src="/assets/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/md5.min.js"></script>
    <!--[if lte IE 9]>
        <script type="text/javascript" src="/assets/js/jquery.placeholder.min.js"></script>
    <![endif]-->
    <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!--[if lte IE 6]>
        <script type="text/javascript">
            window.location.href='/not-supported';
        </script>
    <![endif]-->
</head>
<body>
  <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
            <span></span>
        </a>
        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" href="#">GoingOn</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/accounts/profile" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item"><a href="/accounts/about" class="pure-menu-link">About</a></li>

                    <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                        <a href="/accounts/update" class="pure-menu-link">Update Profile</a>
                    </li>

                    <li class="pure-menu-item"><a href="/accounts/posted_event" class="pure-menu-link">Posted Events</a></li>


                    <li class="pure-menu-item"><a href="/accounts/logout" class="pure-menu-link">Log out</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
          <div class="header">
                <h1>Post a New Event</h1>
                <h2>Tell others what's going to happen</h2>
          </div>
          <div class="content">
            <div class="alert alert-error hide"></div>
            <form id="event-form" method="POST" onsubmit="onSubmit(); return false;">
              <p class="row-fluid">
                  <label for="activity_name">Activity Name</label>
                  <input id="activity_name" name="activity_name" class="span12" type="text" maxlength="32" />
              </p>
              <p class="row-fluid">
                  <label for="activity_type">Activity Type</label>
                  <input id="activity_type" name="activity_type" class="span12" type="text" maxlength="32" />
              </p>
              <p class="row-fluid">
                  <label for="activity_time">Activity Time</label>
                  <input id="activity_time" name="activity_time" class="span12" type="text" maxlength="32" />
              </p>
              <p class="row-fluid">
                  <label for="activity_location">Activity Location</label>
                  <input id="activity_location" name="activity_location" class="span12" type="text" maxlength="32" />
              </p>
              <p class="row-fluid">
                  <label for="activity_description">Activity Description</label>
                  <textarea id="activity_description" name="activity_description" class="span12" type="text"rows="5" cols="50">
                  </textarea>
              </p>
              <p>
                  <button class="btn btn-primary btn-block" type="submit">Post</button>
              </p>
          </div>
        </div>
  </div>
  <script src="/assets/js/ui.js"></script>
  <script type="text/javascript" src="/assets/js/site.js"></script>
  <script type="text/javascript">
      function onSubmit()
      {
          $('.alert-success').addClass('hide');
          $('.alert-error').addClass('hide');
          $('button[type=submit]').attr('disabled', 'disabled');
          $('button[type=submit]').html('Please wait...');

          var activity_name         = $('#activity_name').val(),
              activity_type         = $('#activity_type').val(),
              activity_location     = $('#activity_location').val(),
              activity_time         = $('#activity_time').val(),
              activity_description  = $('#activity_description').val();

          return doAddNewEventAction(activity_name,activity_type,activity_location,activity_time,activity_description);
      };
  </script>
  <script type="text/javascript">
      function doAddNewEventAction(activity_name,activity_type,activity_location,activity_time,activity_description) {
          var postData = {
              'activity_name': activity_name,
              'activity_type': activity_type,
              'activity_location': activity_location,
              'activity_time': activity_time,
              'activity_description': activity_description
          };

          $.ajax({
              type: 'POST',
              url: '/accounts/NewEvent',
              data: postData,
              dataType: 'JSON',
              success: function(result){
                  return processNewEventResult(result);
              }
          });
      }
  </script>
  <script type="text/javascript">
    function processNewEventResult(result) {
      if (result['isSuccessful']){
        alert('New Event Added!');
        $('#activity_name').val('');
        $('#activity_type').val('');
        $('#activity_time').val('');
        $('#activity_location').val('');
        $('#activity_description').val('');
      }else {
        var errorMessage = '';
        if(result['isActivityNameEmpty']){
          errorMessage += 'Activity Name should not be empty! <br>';
        }else if (result['isActivityTypeEmpty']) {
          errorMessage += 'Activity Type should not be empty! <br>';
        }else if (result['isActivityTimeEmpty']) {
          errorMessage += 'Activity Time should not be empty! <br>';
        }else if (result['isActivityLocationEmpty']) {
          errorMessage += 'Activity Location should not be empty! <br>';
        }else if (result['isActivityDescriptionEmpty']) {
          errorMessage += 'Activity Description should not be empty! <br>';
        }else {
          errorMessage += 'Something goes wrong! <br>';
        }
        $('.alert-error').html(errorMessage);
        $('.alert-error').removeClass('hide');
      }

      $('button[type=submit]').html('Post');
      $('button[type=submit]').removeAttr('disabled');
    }
  </script>
</body>
</html>
