<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | Going On</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <link href="/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!-- StyleSheets -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/flat-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/accounts/signup.css">
    <!-- JavaScript -->
    <script type="text/javascript" src="/assets/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/md5.min.js"></script>
    <!--[if lte IE 9]>
        <script type="text/javascript" src="/assets/js/jquery.placeholder.min.js"></script>
    <![endif]-->
    <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!--[if lte IE 6]>
        <script type="text/javascript"> 
            window.location.href='<c:url value="/not-supported" />';
        </script>
    <![endif]-->
</head>
<body>
    <div id="content">
        <div id="sign-up">
            <h2>Create Account</h2>
            <div class="alert alert-error hide"></div>
            <form id="sign-up-form" method="POST" onsubmit="onSubmit(); return false;">
                <p class="row-fluid">
                    <label for="username">Username</label>
                    <input id="username" name="username" class="span12" type="text" maxlength="16" />
                </p>
                <p class="row-fluid">
                    <label for="email">Email</label>
                    <input id="email" name="email" class="span12" type="text" maxlength="64" />
                </p>
                <p class="row-fluid">
                    <label for="password">Password</label>
                    <input id="password" name="password" class="span12" type="password" maxlength="16" />
                </p>
                <p class="row-fluid">
                    <label for="user-group">User Group</label>
                    <select id="user-group" name="user-group">
                        <option value="personal">Personal</option>
                        <option value="ogranization">Organization</option>
                    </select>
                </p>
                <p class="row-fluid">
                    <label for="gender">Gender</label>
                    <select id="gender" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </p>
                <p class="row-fluid hide">
                    <label for="organzation-type">Ogranization Type</label>
                    <select id="organzation-type" name="organzation-type">
                    </select>
                </p>
                <p>
                    By clicking Create Account, I agree to the Terms of Service and Privacy Policy.
                </p>
                <p>
                    <button class="btn btn-primary btn-block" type="submit">Create Account</button>
                </p>
            </form> <!-- #sign-up-form -->
        </c:otherwise>
        </c:choose>
        <p class="text-center">
            Already have an account?<br />
            <a href="/accounts/signin">Sign in</a>
        </p>
        </div> <!-- #sign-up -->
    </div> <!-- #content -->
    <!-- Java Script -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/assets/js/site.js"></script>
    <script type="text/javascript">
        $('#user-group').change(function() {
            var userGroup = $('#user-group').val();

            if ( userGroup == 'personal' ) {
                $('#organzation-type').parent().addClass('hide');
                $('#gender').parent().removeClass('hide');
            } else if ( userGroup == 'ogranization' ) {
                $('#gender').parent().addClass('hide');
                $('#organzation-type').parent().removeClass('hide');
            }
        });
    </script>
    <script type="text/javascript">
        function onSubmit() {
            $('.alert-success').addClass('hide');
            $('.alert-error').addClass('hide');
            $('button[type=submit]').attr('disabled', 'disabled');
            $('button[type=submit]').html('Please wait...');
            
            var username            = $('#username').val(),
                password            = $('#password').val(),
                email               = $('#email').val(),
                userGroup           = $('#user-group').val(),
                gender              = $('#gender').val(),
                organizationType    = $('#organization-type').val();
            
            return doSignUpAction(username, password, email, userGroup, gender, organizationType);
        };
    </script>
    <script type="text/javascript">
        function doSignUpAction(username, password, email, userGroup, gender, organizationType) {
            var postData = {
                'username': username,
                'password': password,
                'email': email,
                'userGroup': userGroup,
                'email': email,
                'gender': gender,
                'organizationType': organizationType
            };
            
            $.ajax({
                type: 'POST',
                url: '/accounts/signUp.action',
                data: postData,
                dataType: 'JSON',
                success: function(result){
                    return processSignUpResult(result);
                }
            });
        }
    </script>
    <script type="text/javascript">
        function processSignUpResult(result) {
            if ( result['isSuccessful'] ) {
                var forwardUrl = '<%= forwardUrl %>' || '/';
                window.location.href = forwardUrl;
            } else {
                $('.alert-error').removeClass('hide');
            }

            $('button[type=submit]').html('Create Account');
            $('button[type=submit]').removeAttr('disabled');
        }
    </script>
</body>
</html>